html {
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

